#!/usr/bin/env python3
"""
WSGI entry point for NASAPuff Flask application
"""
import os
import sys

# Add the application directory to the Python path
sys.path.insert(0, '{{ nasapuff_flask_dir }}')

# Load environment variables
from dotenv import load_dotenv
load_dotenv('{{ nasapuff_base_dir }}/.env')

# Import the Flask app
from nasapuff_flask import app

if __name__ == "__main__":
    app.run() 